@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.navbar {
  width: 100%;
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;

  .navbarElement {
    margin-right: 40px;
    cursor: pointer;

    .logo {
      width: 60px;
      height: 60px;
    }
  }
}
